a:link {
    color: #00CC00;
}

a:visited {
    color: #00CC00;
}

a:hover {
    color: #007700;
}


@media (max-width:600px) {
    .wideScreenOnly {
        display: none;
    }

    .smallScreenOnly {
        display: inline;
    }
}

@media (min-width:600px) {
    .wideScreenOnly {
        display: inline;
    }

    .smallScreenOnly {
        display: none;
    }
}


#terminal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    overflow: hidden;

    cursor: text;

    background-color: black;
    color: white;

    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

#terminal * {
    margin: 0;
}

#terminalOutput {
    white-space: pre;
}

#terminalCurrent {
    max-width: 100%;
}

#terminalCurrentPrefix {
    display: inline-block;
    vertical-align: top;
}

#terminalCurrentFocusInput {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 1px;
    max-width: 100%;

    overflow-wrap: break-word;

    outline: none;
    border: none;

    background-color: inherit;
    color: inherit;

    font-family: inherit;
    font-size: inherit;
}

#terminalCurrentFocusInput br {
    display: none;
}
