/* Main elements */
* {
    box-sizing: border-box;
}

html,
body,
body > main {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: black;
}

noscript ul {
    text-align: center;
}

.fwd-nav {
    position: sticky;
    top: 0;
}

.error-message {
    color: #FF3333;
}


/* Mobile support */
@media (max-width: 600px) {
    .wide-screen-only {
        display: none;
    }

    .small-screen-only {
        display: inline;
    }
}

@media (min-width: 600px) {
    .wide-screen-only {
        display: inline;
    }

    .small-screen-only {
        display: none;
    }
}


/* Terminal */
#terminal {
    min-height: 100%;
    padding: 25px;

    cursor: text;
    color: white;

    font-family: "Roboto Mono", monospace;
    font-size: 16px;

    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#terminal * {
    margin: 0;
}

#terminal-input {
    display: inline-block;
}

#terminal-input-field {
    outline: none;
    border: none;
}

#terminal-input-field br {
    display: none;
}

.terminal-input-field-hidden {
    max-width: 1px !important;
    overflow: hidden !important;
    overflow-wrap: normal !important;
    display: inline-block !important;
    vertical-align: top !important;
}

#terminal-suggestions {
    display: block;
}


/* Links */
#terminal a {
    cursor: pointer;
    text-decoration: none;
}

#terminal a,
#terminal a:link,
#terminal a:visited {
    color: #00FF00;
}

#terminal a:hover {
    color: #00BF00;
    text-decoration: underline;
}

#terminal a:link.dir-link,
#terminal a:visited.dir-link {
    color: #00FF00;
}

#terminal a:link.file-link,
#terminal a:visited.file-link {
    color: #FFFF00;
}

.prefix-path,
.prefix-path > a:link,
.prefix-path > a:visited {
    color: #008000;
}
