a {
    text-decoration: none;
}

a:link, a:visited {
    color: #00FF00;
}

a:hover {
    color: #00BF00;
    text-decoration: underline;
}

a:link.dirLink, a:visited.dirLink {
    color: #00FF00;
}

a:link.fileLink, a:visited.fileLink {
    color: #FFFF00;
}

.prefixPath, .prefixPath > a:link, .prefixPath > a:visited {
    color: #008000;
}


@media (max-width: 600px) {
    .wideScreenOnly {
        display: none;
    }

    .smallScreenOnly {
        display: inline;
    }
}

@media (min-width: 600px) {
    .wideScreenOnly {
        display: inline;
    }

    .smallScreenOnly {
        display: none;
    }
}


* {
    box-sizing: border-box;
}

body {
    background-color: black;
    overscroll-behavior-y: contain;
}

#terminal {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    min-height: 100%;
    padding: 25px;
    overflow: hidden;

    cursor: text;
    color: white;

    font-family: "Roboto Mono", monospace;
    font-size: 16px;

    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#terminal * {
    margin: 0;
}

#terminalInput {
    display: inline-block;
}

#terminalInputField {
    outline: none;
    border: none;
}

#terminalInputField br {
    display: none;
}

.terminalInputFieldHidden {
    max-width: 1px !important;
    overflow: hidden !important;
    overflow-wrap: normal !important;
    display: inline-block !important;
    vertical-align: top !important;
}

#terminalSuggestions {
    display: block;
}


.errorMessage {
    color: red;
}
